<%= form_with(model: word, local: true) do |form| %>
  <% if word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :spelling %>
    <%= form.text_field :spelling %>
  </div>

<% if local_assigns[:create] %>
  <div class="field">
    <label for="review"><%= check_box_tag :review, nil, checked: 1 %> create a review for tomorrow</label>
  </div>
<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
