<h1>
  <%= @word.spelling %>
</h1>
<%= link_to 'Edit', edit_word_path(@word) %> | 
<%= link_to 'Destroy', @word, method: :delete, data: { confirm: 'Are you sure?' } %>

<h2>Definers</h2>
<%= render 'words/definers/new', word: @word %>
<%= render 'list', words: @word.definers %>

<%= render partial: 'reviews/new' %>

<%= render partial: "reviews/list", locals: {reviews: @word.reload.reviews} %>