<p id="notice"><%= notice %></p>

<p>
  <strong>Spelling:</strong>
  <%= @word.spelling %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %>

<%= render partial: 'reviews/new', locals: {word: @word} %>

<%= render partial: "reviews/list", locals: {reviews: @word.reload.reviews} %>
