<p id="notice"><%= notice %></p>

<p>
  <strong>Spelling:</strong>
  <%= @word.spelling %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>

<h2>New Review</h2>

<%= form_with(model: [@word, @word.reviews.build ], local: true) do |form| %>
<p>
  <%= form.label :expires_at %>
  <%= form.date_field :expires_at %>
</p>
<p>
  <%= form.submit %>
</p>
<% end %>

<h2>Reviews</h2>

<table>
  <thead>
    <tr>
      <th>Created at</th>
      <th>Expires at</th>
      <th>Done at</th>
      <th>Passed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @word.reviews.each do |review| %>
      <tr>
        <td><%= review.created_at %></td>
        <td><%= review.expires_at %></td>
        <td><%= review.updated_at %></td>
        <td><%= review.passed %></td>
      </tr>
    <% end %>
  </tbody>
</table>
