<p id="notice"><%= notice %></p>

<p>
  <strong>Spelling:</strong>
  <%= @word.spelling %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %>

<h2>Add a Review</h2>

<%= form_with(model: [@word, @word.reviews.build ], local: true) do |form| %>
<p>
  <%= form.label :expires_at %>
  <%= form.date_field :expires_at, value: Date.today %>
</p>
<p>
  <%= form.submit %>
</p>
<% end %>

<%= render partial: "reviews/list", locals: {reviews: @word.reload.reviews} %>
