<h2>Reviews</h2>

<table>
  <thead>
    <tr>
      <th>Created at</th>
      <th>Scheduled for</th>
      <th>Word</th>
      <th>Done at</th>
      <th>Passed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% reviews.each do |review| %>
      <tr>
        <td><%= review.created_at.to_formatted_s :short %></td>
        <td><%= review.scheduled_for.to_formatted_s :long_ordinal %></td>
        <td><%= review.word.spelling %></td>
        <td><%= review.made_at.to_formatted_s(:long_ordinal) if review.made_at %></td>
        <td><%= review.passed %></td>
      </tr>
    <% end %>
  </tbody>
</table>
