<!DOCTYPE html>
<html>
  <head>
    <title>Remember Lang</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>Remember Lang <%= Remember::Lang::VERSION %></header>
    <nav>
      <ul>
        <li><%= link_to "Today's Reviews", root_path %></li>
        <li><%= link_to 'Words', words_path %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
